:root {
  /* --label-color: #fff9db; */
  --label-color: #fff3bf;
}

.latlong-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.latlong-item {
  color: var(--label-color);
}
